# Arquivos compilados (binários)
out/
*.class

# Arquivos de configuração da IDE (IntelliJ)
.idea/
*.iml
*.iws
*.ipr

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Bibliotecas externas (o correto é não subir JARs, mas se quiser facilitar para o professor, pode remover a linha abaixo)
# *.jar